@use 'styles/variables' as *;

header {
  text-align: center;
  background-color: $header-bg;
  margin-bottom: $spacing-btn-margin;
  padding: 10px;
}
a {
  margin: 0 10px;
  color: $link-color;
  text-decoration: none;
  font-family: $font-sans;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: $link-active-color;
  text-decoration: underline;
}
