@use 'styles/variables' as *;

@mixin card-layout {
  box-sizing: border-box;
  width: 50%;
  margin: $spacing-card-margin auto;
  padding: $spacing-card-padding;
  background-color: $bg-card;
  border-radius: $radius-card;
  box-shadow: $shadow-card;
  overflow: hidden;
  font-family: $font-main;

  img {
    width: 100%;
    height: $img-height;
    object-fit: cover;
    display: block;
    border-radius: $radius-img;
  }

  h2 {
    margin-bottom: 0;
    color: $primary-text-color;
    font-size: $font-size-h2;
  }

  p {
    font-weight: 300;
    font-size: $font-size-p;
    color: $secondary-text-color;
    line-height: $line-height-main;
  }
}

@mixin button-card-base {
  background-color: transparent;
  box-sizing: border-box;
  padding: $spacing-btn-padding;
  border: none;
  border-radius: $radius-btn-card;
  box-shadow: $shadow-button;
  margin-right: $spacing-btn-margin;
  outline: none;
  font-size: $font-size-btn;
  font-weight: 500;
  color: $secondary-text-color;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: $shadow-active;
  }

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

@mixin card-snapped {
  background-color: $bg-snapped;
  color: $dark-green;
  box-shadow: $shadow-snapped;

  &:active {
    box-shadow: $light-green 0 0 5px;
  }
}
