@use 'styles/variables' as *;

.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-sans;
}

.landing-links {
  width: 100%;
  text-align: center;
}
.logo {
  display: block;
  margin: 0 auto $spacing-btn-margin;
  border: 2px solid $logo-color;
  outline: 4px solid $logo-color;
  outline-offset: 3px;
}
