@use 'styles/variables' as *;

* {
  font-family: $font-sans;
}

button {
  font-family: $font-sans;
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: $radius-btn-global;
  box-shadow: $shadow-button;
  margin-right: 20px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  transition: transform 0.1s ease, box-shadow 0.1s ease;

  &:active {
    transform: translate(1px, 1px);
    box-shadow: $shadow-active;
  }
}
